.header_inner
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}

.header_user
{   
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}


.header_avatar > img
{
    border-radius: 15px;

}

.header_name
{
    font-size: 18px;
}