li
{   
    text-align: center;
    padding: 11px;
    flex: 1;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    user-select: none;
    white-space: nowrap;
}


li.active
{
    background-color: var(--tg-theme-bg-color);
    border-radius: 5px;
    cursor: auto;
}