.service_page
{
    background-color: var(--tg-theme-secondary-bg-color);
    min-height: 100vh;
}


.service_image
{   
    min-height: 270px;
}


hr
{
    border: none;
    border-top: 1px solid var(--tg-theme-secondary-bg-color);;
    margin-bottom: 10px;
}


.service_image > img
{   
    margin-bottom: 20px;
}


.order_card
{
    padding: 16px;
    border-radius: 20px;
    top: -20px;
    position: relative;
    background-color: var(--tg-theme-bg-color);
    height: 300px;
}

.order_price
{
    line-height: 110%;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 10px;
}

.order_selector
{
    display: flex;
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;
}

ul
{
    display: flex;
    flex: 1;
}


ul:first-of-type
{
    margin-bottom: 6px;
}

ul:only-of-type
{
    margin-bottom: 0;
}